 


:root {

--theme-black: #000000;
--theme-white: #ffffff;
--theme-black-primary: #121212;
--theme-black-secondary: #202020;
--theme-white-primary: #FFFEF9;
--theme-blue:#0B69C7;
 
--theme-purple: #B866FF ;
--theme-dark-blue: #3600A4 ;

--theme-success: #078345;
--theme-warning: #FF9900;
--theme-error: #D53B3B; 

--theme-bg-shimmer-gradient: linear-gradient(50deg, rgb(108, 160, 227) -5.55%, rgb(172, 163, 222) 2.67%, rgb(179, 169, 215) 10.36%, rgb(133, 228, 178) 14.94%, rgb(112, 214, 221) 19.8%, rgb(151, 172, 241) 23.97%, rgb(217, 185, 225) 28.73%, rgb(231, 221, 213) 33.09%, rgb(229, 203, 217) 40.68%, rgb(228, 183, 223) 48.72%, rgb(184, 182, 233) 56.17%, rgb(141, 182, 242) 65.45%, rgb(178, 169, 240) 73.83%, rgb(227, 178, 232) 79.67%, rgb(233, 221, 218) 85.96%, rgb(129, 245, 247) 93.28%, rgb(123, 163, 244) 98.61%);
 

}



.theme-text-success{
color:var(--theme-success);
}
.theme-text-error{
color:var(--theme-error);
}
.theme-text-gray{
color:var(--theme-gray);
}
.theme-text-primary{
color:var(--theme-primary-600);
}

.theme-text-white{color:var(--theme-white);}
.theme-text-white-primary{color:var(--theme-white-primary);}
.theme-text-black-primary{color:var(--theme-black-primary);}


.theme-bg-black-primary{ background-color:var(--theme-black-primary);}
.theme-bg-black-secondary{ background-color:var(--theme-black-secondary);}
.theme-bg-white-primary{ background-color:var(--theme-white-primary);}
.theme-bg-primary{ background-color:var(--theme-primary);}
.theme-bg-white{ background-color:var(--theme-white);}

.theme-bg-yellow-cream{background-color:var(--theme-yellow-cream);}

.theme-bg-purple-gradiant{background-image: linear-gradient(180deg, #B866FF 0%, #3600A4 136.46%);}
.theme-bg-black-gradiant{background-image: linear-gradient(180deg, #666 10%, #000 100%);}

.theme-bg-shimmer-gradient{background-image: var(--theme-bg-shimmer-gradient);}
 
 