 


:root {

--theme-black: #000000;
--theme-white: #ffffff;
--theme-black-primary: #121212;
--theme-black-secondary: #202020;
--theme-white-primary: #FFFEF9;
--theme-blue:#0B69C7;
 
--theme-purple: #B866FF ;
--theme-dark-blue: #3600A4 ;

--theme-success: #078345;
--theme-warning: #FF9900;
--theme-error: #D53B3B; 

 

}



.theme-text-success{
color:var(--theme-success);
}
.theme-text-error{
color:var(--theme-error);
}
.theme-text-gray{
color:var(--theme-gray);
}
.theme-text-primary{
color:var(--theme-primary-600);
}

.theme-text-white{color:var(--theme-white);}
.theme-text-white-primary{color:var(--theme-white-primary);}
.theme-text-black-primary{color:var(--theme-black-primary);}


.theme-bg-black-primary{ background-color:var(--theme-black-primary);}
.theme-bg-black-secondary{ background-color:var(--theme-black-secondary);}
.theme-bg-white-primary{ background-color:var(--theme-white-primary);}
.theme-bg-primary{ background-color:var(--theme-primary);}
.theme-bg-white{ background-color:var(--theme-white);}

.theme-bg-yellow-cream{background-color:var(--theme-yellow-cream);}

.theme-bg-purple-gradiant{background-image: linear-gradient(180deg, #B866FF 0%, #3600A4 136.46%);}
.theme-bg-black-gradiant{background-image: linear-gradient(180deg, #666 10%, #000 100%);}
 
 