@font-face {
  font-family: 'Switzer-V-Light';
  src: url("../fonts/switzer-variable/Switzer-Light.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Light.woff") format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-Regular';
  src: url("../fonts/switzer-variable/Switzer-Regular.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Regular.woff") format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-Medium';
  src: url("../fonts/switzer-variable/Switzer-Medium.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Medium.woff") format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-SemiBold';
  src: url("../fonts/switzer-variable/Switzer-Semibold.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Semibold.woff") format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-Bold';
  src: url("../fonts/switzer-variable/Switzer-Bold.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Bold.woff") format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-ExtraBold';
  src: url("../fonts/switzer-variable/Switzer-Extrabold.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Extrabold.woff") format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-Black';
  src: url("../fonts/switzer-variable/Switzer-Black.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Black.woff") format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Dharma-GE-Light';
  src: url("../fonts/dharma-gothic-e/DharmaGothicE_Light_R.woff2") format('woff2'), url("../fonts/dharma-gothic-e/DharmaGothicE_Light_R.woff") format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Dharma-GE-Regular';
  src: url("../fonts/dharma-gothic-e/DharmaGothicE_Regular_R.woff2") format('woff2'), url("../fonts/dharma-gothic-e/DharmaGothicE_Regular_R.woff") format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Dharma-GE-SemiBold';
  src: url("../fonts/dharma-gothic-e/DharmaGothicE_Bold_R.woff2") format('woff2'), url("../fonts/dharma-gothic-e/DharmaGothicE_Bold_R.woff") format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Dharma-GE-Bold';
  src: url("../fonts/dharma-gothic-e/DharmaGothicE_ExBold_R.woff2") format('woff2'), url("../fonts/dharma-gothic-e/DharmaGothicE_ExBold_R.woff") format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Dharma-GE-Black';
  src: url("../fonts/dharma-gothic-e/DharmaGothicE_Heavy_R.woff2") format('woff2'), url("../fonts/dharma-gothic-e/DharmaGothicE_Heavy_R.woff") format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PixelSplitter-Bold';
  src: url("../fonts/pixel-splitter/PixelSplitter-Bold.woff2") format('woff2'), url("../fonts/pixel-splitter/PixelSplitter-Bold.woff") format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

:root {
  --equal-paddings: 10rem;
}

* {
  color: currentColor;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: initial !important;
  /* font-size: 16px; */
  font-size: 1.1111112vw;
}

body {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1.05rem;
  font-family: 'Switzer-V-Regular';
  background-color: var(--theme-white);
  color: var(--theme-black-primary);
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  text-size-adjust: auto;
}

::selection {
  color: #fa512d;
  background-color: #72053d;
  -webkit-text-fill-color: #fa512d;
}



/* scroll bar start */


* {
  scrollbar-width: thin;
  scrollbar-color: #fa512d #72053d;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: var(--theme-blue);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--theme-black-primary);
  border-radius: 1.0625rem;
  border: 0px;
}


/* scroll bar end */


h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  color: var(--theme-white-primary);
  font-family: 'Dharma-GE-Bold';
  text-transform: uppercase;
  line-height: 110%;
}

h1,
.h1 {
  font-size: 15.625rem;
  font-style: normal;
  line-height: 80%;
  letter-spacing: -0.15625rem;
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: 6.25rem;
  line-height: normal;
  letter-spacing: -0.0625rem;
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: 4rem;
  letter-spacing: -0.04rem;
}

h4,
.h4 {
  font-size: 3.5rem;
  letter-spacing: -0.035rem;
}

h5 {
  font-size: 3rem;
  letter-spacing: -0.03rem;
}

h6 {
  font-size: 2.5rem;
  line-height: 95%;
  letter-spacing: -0.03rem;
}


a,
*::before,
*::after,
img,
span,
input,
button,
.navbar,
.fixedmenu,
.tp-bullet {
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.btn.focus,
.btn:focus,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
}

p {
  word-wrap: break-word;
  word-break: break-word;
  font-size: 1.25rem;
  line-height: 150%;
  font-family: 'Switzer-V-Regular';
  margin-bottom: 1rem;
  letter-spacing: -0.0375rem;
  /* -webkit-hyphens: auto;
    hyphens: auto; */
}

li,
p,
span,
b,
strong {
  color: var(--theme-neutral-700);
}



strong,
b {
  font-family: 'Switzer-V-Bold';
}

ul,
ol {
  padding-left: 1.2rem;
}

:is(ul, ol) li:not(:last-child) {
  margin-bottom: 1rem;
}

input,
textarea,
select,
button:focus {
  outline: 0;
}

section {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.equal-padding-T {
  padding-top: var(--equal-paddings);
}

.equal-padding-B {
  padding-bottom: var(--equal-paddings);
}

.container:not([class*="col-"]) {
  width: 100%;
  max-width: calc(100% - 8.82rem);
  padding-left: 0rem;
  padding-right: 0rem;
}

.hero-head {}

.section-head {}

.sub-head {
  font-size: 1.875rem;
  line-height: 140%;
  letter-spacing: -0.05625rem;
}

.theme-fw-500 {
  font-family: "Switzer-V-Medium";
}

.theme-fw-300 {
  font-family: "Switzer-V-Light";
}

.pixel-head {
  font-family: 'PixelSplitter-Bold' !important;
  -webkit-text-stroke: 1px #FFFEF9;
  text-stroke: 1px #FFFEF9;
  color: #0000;
}




/* Btn 10  */
.custom-btn {
  font-family: "Switzer-V-Black";
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.01875rem;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border-radius: 0.5rem;
}




@keyframes infinite-RTL {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes infinite-LTR {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

[data-speed] {
  transition: .3s linear;
}


.single-img {
  width: 100%;
}

.single-img img {
  width: 100%;
  height: 100%;
}

.home-hero-section {
  background: url("../images/noise-and-texture-bg.png") center center / cover no-repeat, url("../images/vivid-blurred-colorful-wallpaper-background-v2.png") center center / cover no-repeat;
  background-blend-mode: multiply;
  --equal-paddings: 9.5rem;
}
/* .home-hero-section h1{
  background: linear-gradient(rgb(255, 254, 249) 4.92%, rgba(255, 254, 249, 0) 77%) text;
  -webkit-text-fill-color: transparent;
} */

.home-hero-section .pixel-head {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.025rem;
  margin-bottom: 5.44rem;
}

.home-hero-section h1 span:first-child {
  margin-bottom: 5rem;
  display: inline-block;
}

.home-hero-wrap .row>*:last-child {
  padding-left: 5rem;
}


.client-logos-wrap {
  display: flex;
  align-items: center;
  gap: 8rem;
  animation: infinite-RTL linear infinite;
  width: max-content;
}

.client-logos-wrap .logo-col img {
  height: 2.875rem;
  width: auto;
}

.client-logos-wrapper h2 {
  font-family: "Switzer-V-Regular";
  font-size: 1.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01875rem;
}


.new-paradigm-section {
  background: var(--theme-black-primary) url("../images/vivid-blurred-colorful-bg-elem.png") center -50rem/100% no-repeat;
}

.new-paradigm-wrap .sub-head {
  font-size: 1.875rem;
  line-height: 140%;
  letter-spacing: -0.05625rem;
}

.new-paradigm-wrap.row>*:first-child {
  padding-right: 3.75rem;
}


.new-paradigm-section .bg-top-left-elem {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: rotate(73deg);
}

.new-paradigm-section .bg-center-right-elem {
  position: absolute;
  right: -10%;
  top: 20%;
  transform: translateY(-50%) rotate(150.639deg);
  filter: blur(5px);
}

.ecosystem-wrap h2 {
  margin-bottom: 4rem;
}

.hover-scale-cards-wrap {
  height: 33rem;
}

.hover-scale-cards-wrap .scale-card-col {
  height: 25.875rem;
  width: 100%;
  padding: 2.44rem 2rem;
  border-radius: 1.25rem;
  color: var(--theme-white);
  display: flex;
  flex-direction: column;
  gap: 2.37rem;
  justify-content: center;
  transition: 200ms ease-out;
  position: relative;
  overflow: hidden;
  z-index: 11;
  cursor: pointer;
}

.hover-scale-cards-wrap .scale-card-col h3 {
  font-size: 3rem;
  line-height: normal;
  letter-spacing: -0.03rem;
  text-transform: uppercase;
}

.hover-scale-cards-wrap>*:nth-child(1) .scale-card-col {
  background: url("../images/vivid-blur-colorful-bg-card-var-1.png") center center / cover no-repeat;
}

.hover-scale-cards-wrap>*:nth-child(2) .scale-card-col {
  background: url("../images/vivid-blur-colorful-bg-card-var-2.png") center center / cover no-repeat;
}

.hover-scale-cards-wrap>*:nth-child(3) .scale-card-col {
  background: url("../images/vivid-blur-colorful-bg-card-var-3.png") center center / cover no-repeat;
}

.hover-scale-cards-wrap .scale-card-col img {
  width: 4.8125rem;
  height: 6rem;
  object-fit: contain;
}

.hover-scale-cards-wrap .scale-card-col * {
  transition: 300ms ease-out;
}

.hover-scale-cards-wrap .scale-card-col:hover h3 {
  font-size: 4rem;
  color: var(--theme-black-primary);
  transition: 400ms ease-out;
}

.hover-scale-cards-wrap .scale-card-col:hover p {
  color: var(--theme-black-primary);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 133.333%;
  letter-spacing: -0.015rem;
  transition: 400ms ease-out;
}

.hover-scale-cards-wrap .scale-card-col:hover img {
  width: 5.625rem;
  height: 7.0625rem;
  transition: 400ms ease-out;
}

.hover-scale-cards-wrap .scale-card-col:after {
  content: "";
  width: 116%;
  height: 100%;
  display: block;
  background-image: var(--theme-bg-shimmer-gradient);
  background-size: 150%;
  background-position: 150% 0px;
  position: absolute;
  left: -10%;
  opacity: 0;
  top: 0px;
  z-index: -12;
  transition: 400ms ease-out;
  pointer-events: none;
}

.hover-scale-cards-wrap .scale-card-col:hover:after {
  opacity: 1;
  background-position: 0px 0px;
}

.hover-scale-cards-wrap .scale-card-col:hover {

  height: 31.5rem;
  transition: 400ms ease-out;
}


.container-card {
  padding: 8rem 4.62rem;
  border-radius: 2.5rem;
}

.icon-head-cards-wrap {
  display: flex;
  gap: 4.44rem;
  flex-wrap: nowrap;
  justify-content: center;
}

.icon-head-cards-wrap .icon-head-col {
  border-radius: 1.875rem;
  width: calc(100% / 3 - 4.44rem);
  padding: 2.75rem 2rem;
  background-image: var(--theme-bg-shimmer-gradient);
  position: relative;
  z-index: 11;
  color: var(--theme-white);
  cursor: pointer;
}

.icon-head-col:after {
  content: "";
  /* width: 100%;
  height: 100%;  */
  display: block;
  border-radius: 1.875rem;
  background-color: var(--theme-black-secondary);
  background-size: 150%;
  background-position: 150% 0px;
  position: absolute;
  inset: 1px;
  z-index: -1;
  transition: 400ms ease-out;
  pointer-events: none;
  transition: 300ms ease-out;
}

.icon-head-col:hover:after {
  inset: 10px;
  border-radius: 1.575rem;
}

.icon-head-col h3 {
  font-size: 3rem;
  line-height: normal;
  letter-spacing: -0.03rem;
  margin-bottom: 1.25rem;
}

.icon-head-col .col-img {
  margin-bottom: 1.88rem;
}

.icon-head-col img {
  aspect-ratio: 1/1;
  width: 4.9375rem;
  object-fit: contain;
}

.protocol-section .bg-mid-right-elem {
  position: absolute;
  right: -5%;
  top: 50rem;
  rotate: 100deg;
}

.protocol-section .bg-bottom-left-elem {
  position: absolute;
  left: -10%;
  bottom: 20%;
  rotate: 100deg;
  filter: blur(10px);
}


.revolution-wrap p {
  font-size: 1.875rem;
  line-height: 140%;
  letter-spacing: -0.05625rem;
}

.team-cards-wrap {
  display: flex;
  gap: 2.37rem;
  width: max-content;
  animation: infinite-RTL linear infinite;
}

/* .team-cards-wrap .team-card-col:nth-child(even){
  translate: 0 -3.5rem;
} */
.team-cards-wrap .team-card-col:nth-child(odd) {
  margin-top: 7rem;

}

.team-card-col {
  width: calc(100vw / 5 - 2.37rem);
  height: 20.5rem;
  border-radius: 1.125rem;
  overflow: hidden;
  position: relative;

}

.team-card-col .col-img,
.team-card-col .col-img img {
  width: 100%;
  height: 100%;
}

.team-card-col .col-img img {
  object-fit: cover;
}

.team-card-col .team-info {
  position: absolute;
  bottom: 1.09rem;
  left: 0.87rem;
  display: inline-block;
  padding: 0.62rem;
  border-radius: 0.625rem;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(15px);
}

.team-card-col h3 {
  font-size: 2rem;
  line-height: 118.75%;
}

.team-card-col p {
  font-size: 1rem;
  line-height: normal;
  letter-spacing: -0.01rem;
  margin-bottom: 0;
}

.fueled-wrapper .container-card {
  background: url("../images/vivid-blurred-colorful-wallpaper-background-v2.png") center / cover no-repeat;
}

.faqs-wrap .accordion-button:not(.collapsed),
.faqs-wrap .accordion-button {
  background-color: #0000 !important;
  box-shadow: none !important;
}

.faqs-wrap .accordion-button:after {
  background: url("../../assets/images/plus-icon-white.svg") no-repeat center/auto;
  transform: rotate(180deg) !important;
}

.faqs-wrap .accordion-button:not(.collapsed)::after {
  background: url("../../assets/images/minus-icon-black.svg") no-repeat center/auto;
}

.faqs-wrap h3{
  font-size: 2.5rem; 
line-height: 95%;
}
.faqs-wrap .accordion-button {
  padding: 2rem 2rem 0.5rem 2rem !important;
  transition: .3s ease-out;
  font-family: 'Dharma-GE-Bold';
  font-size: inherit;
}

.faqs-wrap .accordion-button.collapsed {
  padding: 2rem !important;
}

.faqs-wrap .accordion-item {
  border-radius: 0.5rem;
  border: 1.5px solid #FFF0;
  background-color: var(--theme-black-secondary);
  transition: .3s ease-out;
}

.faqs-wrap .accordion-item:not(:has(.accordion-button.collapsed)) {
  border-radius: 1.375rem;
  border: 1.5px solid #FFF;
  background-image: var(--theme-bg-shimmer-gradient);
}

.faqs-wrap .accordion-item:not(:has(.accordion-button.collapsed)) * {
  color: var(--theme-black-primary) !important;
}


.faqs-wrap .accordion-item * {
  color: var(--theme-white) !important;
}

.faqs-wrap .accordion-item:not(:last-child) {
  margin-bottom: 1rem;
}

.faqs-wrap .accordion-body{
  padding: 0 2rem 2rem 2rem !important;

}
.faqs-wrap .accordion-body p{
  font-size:1rem;
  line-height: 150%;
  font-family: "Switzer-V-Regular";
  letter-spacing: normal;
  margin-bottom:0;
}

/* Media Queries */


@media screen and (max-width:992px) {

  .h-xl {
    font-size: 18.85638rem;
    letter-spacing: -0.28856rem;
    text-transform: uppercase;
  }

  .h-l {
    font-size: 10.63569rem;
    letter-spacing: -0.20638rem;
    text-transform: uppercase;
  }

  h1,
  .h1 {
    font-size: 7.89288rem;
    letter-spacing: -0.10894rem;
  }

  h2,
  .h2 {
    font-size: 4rem;
    letter-spacing: -0.05rem;
  }

  h3,
  .h3 {
    font-size: 3rem;
    letter-spacing: -0.04rem;
  }

  h4,
  .h4 {
    font-size: 2.5rem;
    letter-spacing: -0.035rem;
  }

  h5 {
    font-size: 2rem;
    letter-spacing: -0.03rem;
  }

  h6 {
    font-size: 1.5rem;
    letter-spacing: -0.03rem;
  }

}

@media screen and (max-width: 768px) {

  :root {
    --equal-paddings: 3.25rem;
  }

  .h-xl {
    font-size: 10rem;
    letter-spacing: 0.00894rem;
    text-transform: uppercase;
  }

  .h-l {
    font-size: 8rem;
    letter-spacing: 0.00894rem;
    text-transform: uppercase;
  }

  h1,
  .h1 {
    font-size: 3.1rem;
    letter-spacing: 0.00894rem;
  }

  h2,
  .h2 {
    font-size: 2.7rem;
    letter-spacing: 0.00894rem;
  }

  h3,
  .h3 {
    font-size: 2.3rem;
    letter-spacing: 0.00894rem;
  }

  h4,
  .h4 {
    font-size: 1.9rem;
    letter-spacing: 0.00894rem;
  }

  h5 {
    font-size: 1.7rem;
    letter-spacing: 0.00894rem;
  }

  h6 {
    font-size: 1.5rem;
    letter-spacing: 0.00894rem;
  }

  p,
  .sub-head {
    font-size: 1rem;
  }

  br {
    display: none;
  }

  .custom-btn {
    width: 100%;
    text-align: center;
  }




}