@font-face {
  font-family: 'Switzer-V-Light';
  src: url("../fonts/switzer-variable/Switzer-Light.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Light.woff") format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-Regular';
  src: url("../fonts/switzer-variable/Switzer-Regular.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Regular.woff") format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-Medium';
  src: url("../fonts/switzer-variable/Switzer-Medium.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Medium.woff") format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-SemiBold';
  src: url("../fonts/switzer-variable/Switzer-Semibold.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Semibold.woff") format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-Bold';
  src: url("../fonts/switzer-variable/Switzer-Bold.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Bold.woff") format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-ExtraBold';
  src: url("../fonts/switzer-variable/Switzer-Extrabold.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Extrabold.woff") format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer-V-Black';
  src: url("../fonts/switzer-variable/Switzer-Black.woff2") format('woff2'), url("../fonts/switzer-variable/Switzer-Black.woff") format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Dharma-GE-Light';
  src: url("../fonts/dharma-gothic-e/DharmaGothicE_Light_R.woff2") format('woff2'), url("../fonts/dharma-gothic-e/DharmaGothicE_Light_R.woff") format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Dharma-GE-Regular';
  src: url("../fonts/dharma-gothic-e/DharmaGothicE_Regular_R.woff2") format('woff2'), url("../fonts/dharma-gothic-e/DharmaGothicE_Regular_R.woff") format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Dharma-GE-SemiBold';
  src: url("../fonts/dharma-gothic-e/DharmaGothicE_Bold_R.woff2") format('woff2'), url("../fonts/dharma-gothic-e/DharmaGothicE_Bold_R.woff") format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Dharma-GE-Bold';
  src: url("../fonts/dharma-gothic-e/DharmaGothicE_ExBold_R.woff2") format('woff2'), url("../fonts/dharma-gothic-e/DharmaGothicE_ExBold_R.woff") format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Dharma-GE-Black';
  src: url("../fonts/dharma-gothic-e/DharmaGothicE_Heavy_R.woff2") format('woff2'), url("../fonts/dharma-gothic-e/DharmaGothicE_Heavy_R.woff") format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PixelSplitter-Bold';
  src: url("../fonts/pixel-splitter/PixelSplitter-Bold.woff2") format('woff2'), url("../fonts/pixel-splitter/PixelSplitter-Bold.woff") format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

:root {
  --equal-paddings: 10rem;
}

* {
  color: currentColor;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: initial !important;
  /* font-size: 16px; */
  font-size: 1.1111112vw;
}

body {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1.05rem;
  font-family: 'Switzer-V-Regular';
  background-color: var(--theme-white);
  color: var(--theme-black-primary);
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  text-size-adjust: auto;
}

::selection {
  color: #fa512d;
  background-color: #72053d;
  -webkit-text-fill-color: #fa512d;
}



/* scroll bar start */


* {
  scrollbar-width: thin;
  scrollbar-color: #fa512d #72053d;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: var(--theme-blue);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--theme-black-primary);
  border-radius: 1.0625rem;
  border: 0px;
}


/* scroll bar end */


h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  color: var(--theme-white-primary);
  font-family: 'Dharma-GE-Bold';
  text-transform: uppercase;
  line-height: 110%;
}

h1,
.h1 {
  font-size: 12rem;
  font-style: normal;
  line-height: 80%;
  letter-spacing: -0.15625rem;
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: 6.25rem;
  line-height: normal;
  letter-spacing: -0.0625rem;
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: 4rem;
  letter-spacing: -0.04rem;
}

h4,
.h4 {
  font-size: 3.5rem;
  letter-spacing: -0.035rem;
}

h5 {
  font-size: 3rem;
  letter-spacing: -0.03rem;
}

h6 {
  font-size: 2.5rem;
  line-height: 95%;
  letter-spacing: -0.03rem;
}


a,
*::before,
*::after,
img,
span,
input,
button,
.navbar,
.fixedmenu,
.tp-bullet {
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.btn.focus,
.btn:focus,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
}

p {
  word-wrap: break-word;
  word-break: break-word;
  font-size: 1.25rem;
  line-height: 150%;
  font-family: 'Switzer-V-Regular';
  margin-bottom: 1rem;
  letter-spacing: -0.0375rem;
  /* -webkit-hyphens: auto;
    hyphens: auto; */
}

li,
p,
span,
b,
strong {
  color: var(--theme-neutral-700);
}



strong,
b {
  font-family: 'Switzer-V-Bold';
}

ul,
ol {
  padding-left: 1.2rem;
}

:is(ul, ol) li:not(:last-child) {
  margin-bottom: 1rem;
}

input,
textarea,
select,
button:focus {
  outline: 0;
}

section {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.equal-padding-T {
  padding-top: var(--equal-paddings);
}

.equal-padding-B {
  padding-bottom: var(--equal-paddings);
}

.container:not([class*="col-"]) {
  width: 100%;
  max-width: calc(100% - 8.82rem);
  padding-left: 0rem;
  padding-right: 0rem;
}

.hero-head {}

.section-head {}

.sub-head {
  font-size: 1.875rem;
  line-height: 140%;
  letter-spacing: -0.05625rem;
}

.theme-fw-500 {
  font-family: "Switzer-V-Medium";
}

.theme-fw-300 {
  font-family: "Switzer-V-Light";
}

.pixel-head {
  font-family: 'PixelSplitter-Bold' !important;
  -webkit-text-stroke: 1px #FFFEF9;
  text-stroke: 1px #FFFEF9;
  color: #0000;
}




/* Btn 10  */
.custom-btn {
  font-family: "Switzer-V-Black";
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.01875rem;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border-radius: 0.5rem;
}




@keyframes infinite-RTL {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes infinite-LTR {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

[data-speed] {
  transition: .3s linear;
}

.header-wrap{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  z-index: 99999;
  padding: 3.69rem 0 ; 
  transition: 300ms ease-out;
}
.header-wrap.headerActive{
  padding: 1rem 0;
  backdrop-filter: blur(10px);
}
.header-wrap a{
  color: var(--theme-white);
}

.navigation-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrap .site-logo a{
  font-size: 3.5rem;
  font-family: 'Dharma-GE-Bold';
  line-height: 100%;
  letter-spacing: -0.035rem;
  text-transform: uppercase;
}
.main-menu-wrap ul{
  list-style: none;
  display: flex;
  gap: 2.38rem;
}
.main-menu-wrap a{
  font-size: 1.25rem; 
font-weight: 400;
line-height:  140%;
letter-spacing: -0.0125rem;
}

.social-media-icon-links{
  list-style: none;
  display: flex;
  gap: 2.56rem;
}
.social-media-icon-links img{
  width: 1.9375rem; 
aspect-ratio: 1/1;
object-fit: contain;
}
.social-media-icon-links,
.main-menu-wrap ul{
  padding-left: 0;
}
body .social-media-icon-links li,
body .main-menu-wrap ul li{
margin-bottom: 0;
}


.single-img {
  width: 100%;
}

.single-img img {
  width: 100%;
  height: 100%;
}

.home-hero-section {
  background: url("../images/noise-and-texture-bg.png") center   / cover no-repeat, url("../images/vivid-blurred-colorful-wallpaper-background-v2.png") center calc(100% - -1px) / cover no-repeat;
  background-blend-mode: multiply; 
}
/* .home-hero-section h1{
  background: linear-gradient(rgb(255, 254, 249) 4.92%, rgba(255, 254, 249, 0) 77%) text;
  -webkit-text-fill-color: transparent;
  } */
  .home-hero-section .bg-center-right-elem{
    position: absolute;
    right: -12rem;
    top: 19rem;
    width: 22.1875rem;
height: 23.5rem;
object-fit: contain;
  }

.home-hero-section .pixel-head {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.025rem;
  margin-bottom: 5.44rem;
}
.home-hero-section .pixel-head img{
  width: 2.5625rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.home-hero-section h1 span:first-child {
  margin-bottom: 5rem;
  display: inline-block;
}

.home-hero-wrap .row>*:last-child {
  padding-left: 5rem;
}


.client-logos-wrap {
  display: flex;
  align-items: center;
  gap: 8rem;
  animation: infinite-RTL linear infinite;
  width: max-content;
}

.client-logos-wrap .logo-col img {
  height: 2.875rem;
  width: auto;
}

.client-logos-section h2 {
  font-family: "Switzer-V-Regular";
  font-size: 1.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01875rem;
}

.client-logos-wrapper{
  position:relative;
}
.client-logos-wrapper:after,
.client-logos-wrapper:before{
  content:"";
  position:absolute;
  display:block;
  height:100%;
  width: 10rem;
  z-index:11;
}
.client-logos-wrapper:before{
  left:-5rem;
  top:0;
  background: linear-gradient(90deg, #121212 1.5rem, #0000 100%);
}
.client-logos-wrapper:after{
  right:-5rem;
  top:0;
  background: linear-gradient(-90deg, #121212 1.5rem, #0000 100%);
}

.new-paradigm-section {
  background: var(--theme-black-primary) url("../images/vivid-blurred-colorful-bg-elem.png") center -50rem/100% no-repeat;
}

.new-paradigm-wrap .sub-head {
  font-size: 1.875rem;
  line-height: 140%;
  letter-spacing: -0.05625rem;
}

.new-paradigm-wrap.row>*:first-child {
  padding-right: 3.75rem;
}


.new-paradigm-section .bg-top-left-elem {
  position: absolute;
  top: 47rem;
  left: -10rem;
  transform: rotate(73deg);
  width: 20rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.new-paradigm-section .bg-center-right-elem {
  position: absolute;
  right: -11rem;
  top: 20rem;
  transform: translateY(-50%) rotate(150.639deg);
  filter: blur(5px);
  width: 22rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.ecosystem-wrap h2 {
  margin-bottom: 4rem;
}

.hover-scale-cards-wrap {
  height: 33rem;
}

.hover-scale-cards-wrap .scale-card-col {
  height: 25.875rem;
  width: 100%;
  padding: 2.44rem 2rem;
  border-radius: 1.25rem;
  color: var(--theme-white);
  display: flex;
  flex-direction: column;
  gap: 2.37rem;
  justify-content: center;
  transition: 200ms ease-out;
  position: relative;
  overflow: hidden;
  z-index: 11;
  cursor: pointer;
}

.hover-scale-cards-wrap .scale-card-col h3 {
  font-size: 3rem;
  line-height: normal;
  letter-spacing: -0.03rem;
  text-transform: uppercase;
}

.hover-scale-cards-wrap>*:nth-child(1) .scale-card-col {
  background: url("../images/vivid-blur-colorful-bg-card-var-1.png") center center / cover no-repeat;
}

.hover-scale-cards-wrap>*:nth-child(2) .scale-card-col {
  background: url("../images/vivid-blur-colorful-bg-card-var-2.png") center center / cover no-repeat;
}

.hover-scale-cards-wrap>*:nth-child(3) .scale-card-col {
  background: url("../images/vivid-blur-colorful-bg-card-var-3.png") center center / cover no-repeat;
}

.hover-scale-cards-wrap .scale-card-col img {
  width: 4.8125rem;
  height: 6rem;
  object-fit: contain;
}

.hover-scale-cards-wrap .scale-card-col * {
  transition: 300ms ease-out;
}

.hover-scale-cards-wrap .scale-card-col:hover h3 {
  font-size: 4rem;
  color: var(--theme-black-primary);
  transition: 400ms ease-out;
}

.hover-scale-cards-wrap .scale-card-col:hover p {
  color: var(--theme-black-primary);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 133.333%;
  letter-spacing: -0.015rem;
  transition: 400ms ease-out;
}

.hover-scale-cards-wrap .scale-card-col:hover img {
  width: 5.625rem;
  height: 7.0625rem;
  transition: 400ms ease-out;
}

.hover-scale-cards-wrap .scale-card-col:after {
  content: "";
  width: 116%;
  height: 100%;
  display: block;
  background-image: var(--theme-bg-shimmer-gradient);
  background-size: 150%;
  background-position: 150% 0px;
  position: absolute;
  left: -10%;
  opacity: 0;
  top: 0px;
  z-index: -12;
  transition: 400ms ease-out;
  pointer-events: none;
}

.hover-scale-cards-wrap .scale-card-col:hover:after {
  opacity: 1;
  background-position: 0px 0px;
}

.hover-scale-cards-wrap .scale-card-col:hover {

  height: 31.5rem;
  transition: 400ms ease-out;
}


.container-card {
  padding:  4.62rem;
  border-radius: 2.5rem;
}

.icon-head-cards-wrap {
  display: flex;
  gap: 4.44rem;
  flex-wrap: nowrap;
  justify-content: center;
}

.icon-head-cards-wrap .icon-head-col {
  border-radius: 1.875rem;
  width: calc(100% / 3 - 4.44rem);
  padding: 2.75rem 2rem;
  background-image: var(--theme-bg-shimmer-gradient);
  position: relative;
  z-index: 11;
  color: var(--theme-white);
  cursor: pointer;
}

.icon-head-col:after {
  content: "";
  /* width: 100%;
  height: 100%;  */
  display: block;
  border-radius: 1.875rem;
  background-color: var(--theme-black-secondary);
  background-size: 150%;
  background-position: 150% 0px;
  position: absolute;
  inset: 1px;
  z-index: -1;
  transition: 400ms ease-out;
  pointer-events: none;
  transition: 300ms ease-out;
}

.icon-head-col:hover:after {
  inset: 10px;
  border-radius: 1.575rem;
}

.icon-head-col h3 {
  font-size: 3rem;
  line-height: normal;
  letter-spacing: -0.03rem;
  margin-bottom: 1.25rem;
}

.icon-head-col .col-img {
  margin-bottom: 1.88rem;
}

.icon-head-col img {
  aspect-ratio: 1/1;
  width: 4.9375rem;
  object-fit: contain;
}

.protocol-section .bg-mid-right-elem {
  position: absolute;
  right: -5.5rem;
  top: 50rem;
  rotate: 100deg;
  width: 11rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.protocol-section .bg-bottom-left-elem {
  position: absolute;
  left: -11rem;
  bottom: 20rem;
  rotate: 100deg;
  filter: blur(10px);
  width: 22rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.protocol-section{
  background: var(--theme-black-primary) url("../images/blur-red-bg-elem.png") center 80% / contain no-repeat;
}

.revolution-wrap p {
  font-size: 1.875rem;
  line-height: 140%;
  letter-spacing: -0.05625rem;
}

.team-cards-wrap {
  display: flex;
  gap: 2.37rem;
  width: max-content;
  animation: infinite-RTL linear infinite;
}

/* .team-cards-wrap .team-card-col:nth-child(even){
  translate: 0 -3.5rem;
} */
.team-cards-wrap .team-card-col:nth-child(odd) {
  margin-top: 7rem;

}

.team-card-col {
  width: calc(100vw / 5 - 2.37rem);
  height: 20.5rem;
  border-radius: 1.125rem;
  overflow: hidden;
  position: relative;

}

.team-card-col .col-img,
.team-card-col .col-img img {
  width: 100%;
  height: 100%;
}

.team-card-col .col-img img {
  object-fit: cover;
}

.team-card-col .team-info {
  position: absolute;
  bottom: 1.09rem;
  left: 0.87rem;
  display: inline-block;
  padding: 0.62rem;
  border-radius: 0.625rem;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(15px);
}

.team-card-col h3 {
  font-size: 2rem;
  line-height: 118.75%;
}

.team-card-col p {
  font-size: 1rem;
  line-height: normal;
  letter-spacing: -0.01rem;
  margin-bottom: 0;
}

.fueled-wrapper .container-card {
  background: url("../images/vivid-blurred-colorful-wallpaper-background-v2.png") center / cover no-repeat;
}

.faqs-section{
  background: url("../images/blur-red-bg-elem.png") -44rem -9rem / contain no-repeat,
  url("../images/blur-red-bg-elem.png") 48rem 60% / contain no-repeat, var(--theme-black-primary);
}

.faqs-section .bg-top-left-elem{
  position: absolute;
  left: -11.5rem;
  top: 30rem;
  rotate: -22deg;
  width: 23rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.faqs-section .bg-center-right-elem{
  position: absolute;
  right: -11.5rem;
  top: 50rem;
  rotate: -22deg;
  width: 23rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.faqs-wrap .accordion-button:not(.collapsed),
.faqs-wrap .accordion-button {
  background-color: #0000 !important;
  box-shadow: none !important;
}

.faqs-wrap .accordion-button:after {
  background: url("../../assets/images/plus-icon-white.svg") no-repeat center/auto;
  transform: rotate(180deg) !important;
}

.faqs-wrap .accordion-button:not(.collapsed)::after {
  background: url("../../assets/images/minus-icon-black.svg") no-repeat center/auto;
}

.faqs-wrap h3{
  font-size: 2.5rem; 
line-height: 95%;
}
.faqs-wrap .accordion-button {
  padding: 2rem 2rem 0.5rem 2rem !important;
  transition: .3s ease-out;
  font-family: 'Dharma-GE-Bold';
  font-size: inherit;
}

.faqs-wrap .accordion-button.collapsed {
  padding: 2rem !important;
}

.faqs-wrap .accordion-item {
  border-radius: 0.5rem;
  border: 1.5px solid #FFF0;
  background-color: var(--theme-black-secondary);
  transition: .3s ease-out;
}

.faqs-wrap .accordion-item:not(:has(.accordion-button.collapsed)) {
  border-radius: 1.375rem;
  border: 1.5px solid #FFF;
  background-image: var(--theme-bg-shimmer-gradient);
}

.faqs-wrap .accordion-item:not(:has(.accordion-button.collapsed)) * {
  color: var(--theme-black-primary) !important;
}


.faqs-wrap .accordion-item * {
  color: var(--theme-white) !important;
}

.faqs-wrap .accordion-item:not(:last-child) {
  margin-bottom: 1rem;
}

.faqs-wrap .accordion-body{
  padding: 0 2rem 2rem 2rem !important;

}
.faqs-wrap .accordion-body p{
  font-size:1rem;
  line-height: 150%;
  font-family: "Switzer-V-Regular";
  letter-spacing: normal;
  margin-bottom:0;
}

.marquee-wrapper{
  overflow: hidden;
  background: url("../images/vivid-blurred-colorful-bg.png") center center / 100% 100% no-repeat;
  padding: 1rem 0px;
   
}
.marquee-wrap{
  display: flex;
  align-items: center;
  width: max-content;
  animation: 0s linear 0s infinite normal none running infinite-RTL;
}
.marquee-wrap p{
  font-size: 4rem; 
font-family: "Dharma-GE-Bold";
line-height: normal;
letter-spacing: -0.04rem;
text-transform: uppercase;
color: var(--theme-white);
margin-bottom: 0;
}
.marquee-wrap p:after {
  content: "";
  position: relative;
  width: 2.625rem;
  height: 2.625rem;
  background: url("../images/white-star-icon.svg") center center / cover no-repeat;
  display: inline-block;
}


.footer-wrap{
  background: url("../images/vivid-blurred-colorful-bg.png") center center / cover no-repeat;
}


.subscribe-form-wrapper{
  border-radius: 1.875rem;

  border: 2px solid rgb(255, 255, 255);
  padding: 3.12rem 1.63rem;
  background: conic-gradient(from 127deg at 50.42% 51.28%, rgb(192, 215, 243) 39.9062deg, rgb(182, 208, 247) 73.6793deg, rgb(238, 244, 225) 118.944deg, rgb(226, 193, 249) 155.625deg, rgb(191, 209, 249) 209.309deg, rgb(250, 252, 254) 252.649deg, rgb(186, 228, 226) 316.524deg, rgb(140, 107, 227) 358.059deg);
}
.subscribe-form-wrap{
  border-radius: 0.5rem;
  background-color: var(--theme-white);
  padding: 0.38rem 0.5rem 0.38rem 1.31rem;
  display: grid;
  grid-template-columns: auto max-content;
}

.subscribe-form-wrap input{
  border: 0px;
  font-size: 1rem;
  width: 100%;
  color: var(--theme-black-primary);
}

.subscribe-form-wrap button img{
  width: 1.5rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.footer-wrap h2{
  background: linear-gradient(rgb(255, 254, 249) 4.92%, rgba(255, 254, 249, 0) 77%) text;
  -webkit-text-fill-color: transparent;
  line-height: 100%;
}
.footer-content-row .row>*:first-child{
  padding-right: 7.2rem;
}

.footer-copyrights-wrap a{
color: var(--theme-white);
}
.footer-copyrights-wrap{
  padding: 3.25rem 0;
}
.footer-copyrights-wrap p{
  margin-bottom: 0;
}
.social-media-links {
list-style: none;
display: flex;
gap: 1rem;
align-items: center;
padding-left: 0;
}
.social-media-links li{
  margin-bottom: 0!important;
}
.social-media-links li a,
.footer-copyrights-wrap *{
  font-size: 1.125rem; 
font-weight: 400;
line-height:  166.667% ;
letter-spacing: -0.01125rem;
}


.tilt-elem {   
  transition: transform 0.1s ease;
  perspective: 1000px; 
}



/* Media Queries */

@media screen and (max-width:992px) {

  html{
    font-size: 3.6vw;
  }

  h1,
  .h1 {
    font-size: 4.5rem; 
    font-style: normal;
    line-height: 80%;
    letter-spacing: -0.05625rem;
    text-transform: uppercase;
  }
  
  h2,
  .h2 {
    font-size: 4rem;
    line-height: normal;
    letter-spacing: -0.0625rem;
    text-transform: uppercase;
  }
  
  h3,
  .h3 {
    font-size: 3.5rem;
    letter-spacing: -0.04rem;
  }
  
  h4,
  .h4 {
    font-size: 3rem;
    letter-spacing: -0.035rem;
  }
  
  h5 {
    font-size: 2.5rem;
    letter-spacing: -0.03rem;
  }
  
  h6 {
    font-size: 2rem;
    line-height: 95%;
    letter-spacing: -0.03rem;
  }

  .header-wrap{
    padding: 1rem 0;
  }

  .navigation-wrap {
    flex-direction:column;
    gap: 3rem;
    align-items: baseline;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100svh;
    top: 0;
    padding: 2rem;
    background-image: var(--theme-bg-shimmer-gradient);
    opacity: 0;
    pointer-events: none;
}
.navigation-wrap.active{
  opacity: 1;
  pointer-events: auto;
}
.main-menu-wrap ul{
    flex-direction:column;
}

.main-menu-wrap a{
    color: var(--theme-black-primary);
    font-family: "Switzer-V-Medium";
    font-size: 2rem;
}

.social-media-icon-links img{
    filter: invert(1);
}


.mobile-menu{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    z-index: 111;
    cursor: pointer;
    overflow: hidden;
}
/* .mobile-menu:not(.active):hover div{
  translate: 170%;
} */
.mobile-menu div{
  width: 1.75rem;
  height: 2px;
  background-color: var(--theme-white);
  position: relative;
  transition: 400ms ease-out 0s; 
}


.mobile-menu.active{
height: 1.578125rem;
}
.mobile-menu.active div{
  background-color: var(--theme-black-primary);
  translate: none;
  transition: 400ms ease-out 0s;
}
.mobile-menu.active div:nth-child(2){display: none;}
.mobile-menu.active div:nth-child(1){
  top: 0.75rem;
  rotate: 45deg;
  
}
.mobile-menu.active div:nth-child(3){
  top: 0.14rem;
  rotate: -45deg; 
}



  .home-hero-wrap .row>*:last-child {
    padding-left: calc(1.5rem / 2);
}
.home-hero-section h1 span:first-child {
  margin-bottom: 1rem;
  display: inline-block;
}
.home-hero-section .bg-center-right-elem {
  width: 11.1875rem;
  height: 12rem;
  right: -6rem;
}
.client-logos-wrap{
  gap: 2.5rem;
}
.client-logos-wrap .logo-col img {
  height: 1.875rem;
}
.new-paradigm-section {
  background: var(--theme-black-primary) url(../images/vivid-blurred-colorful-bg-elem.png) center -13rem / 100% no-repeat;
}

.new-paradigm-wrap.row>*:first-child {
  padding-right: calc(1.5rem / 2);
}

.new-paradigm-section .bg-center-right-elem,
.new-paradigm-section .bg-top-left-elem,
.protocol-section .bg-bottom-left-elem,
.protocol-section .bg-mid-right-elem,
.faqs-section .bg-top-left-elem,
.faqs-section .bg-center-right-elem {
  width: 8rem;
}
.new-paradigm-section .bg-center-right-elem,
.protocol-section .bg-mid-right-elem,
.faqs-section .bg-center-right-elem {
  right: -4rem;
}
.new-paradigm-section .bg-top-left-elem,
.protocol-section .bg-bottom-left-elem,
.faqs-section .bg-top-left-elem{
  left: -4rem;
}


.hover-scale-cards-wrap {
  height: auto;
}

.container-card {
  padding: 2rem;
}
.icon-head-cards-wrap .icon-head-col {
  width: 100%;
}
.icon-head-cards-wrap {
  flex-wrap: wrap;
}

.team-card-col {
  width: calc(100% / 2);
  height: 16.5rem;
}
.team-cards-wrap{
  gap: 1.37rem;
}

.faqs-wrap h3 {
  font-size: 1.5rem;
}
.faqs-wrap .accordion-button.collapsed {
  padding: 1.2rem !important;
}
.faqs-wrap .accordion-button {
  padding: 1.2rem 1.2rem 0.5rem 1.2rem !important;
}
.faqs-wrap .accordion-body {
  padding: 0 1.2rem 1.2rem 1.2rem !important;
}
.marquee-wrap p {
  font-size: 2rem;
}
.marquee-wrap p:after{
  width: 1.325rem;
    height: 1.325rem;
}

.footer-content-row .row>*:first-child {
  padding-right: calc(1.5rem/ 2);
}
.subscribe-form-wrapper{
  padding: 2.12rem 1.63rem;
}

}/* 992px Media Queries */

@media screen and (max-width: 768px) {

  :root {
    --equal-paddings: 4.25rem;
  }

   
  p,
  .sub-head {
    font-size: 1rem;
  }

  br {
    display: none;
  }

  .custom-btn {
    width: 100%;
    text-align: center;
  }

  .container:not([class*="col-"]){
    max-width: calc(100% - 4rem);
  }



}/* 768px Media Queries */